header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
h1 {
    margin: 0;
    padding: 0;
}
#time-left {
    margin: 0;
    padding: 0;
}

/* fav page */
#scorebox {
    border: 3px solid black;
}