header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
    padding: 0;
}

button {
    font-size: 15px;
    margin: 5px;
}

#time-left {
    margin: 0;
    padding: 0;
}

/* fav page */
#scorebox {
    width: 300px;
    border: 3px solid black;
}

#title {
    margin: 20px;
    font-size: 35px;
}

#game-explanation {
    margin: 20px;
    font-size: 25px;
}

#answerBox li {
    width: 300px;
    margin: 20px 0;
    font-size: 20px;
    border: 2px solid black;
}

